body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 150px;
}

header {
    border-bottom: solid 2px rgb(107, 58, 221);
    padding: 20px;
    font-size: 32px;
    color: rgb(107, 58, 221);
}

.chamada {
    background: rgb(35, 35, 35);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid purple

}

.categoria h2 {
    color: rgb(107, 58, 221);
}